body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@import "../../style.scss";

.home {
  @include themify($themes) {
    background-color: themed('bgSoft');
    padding: 10px 60px 10px 76px;
    
    @include tablet {
      padding: 20px;
    }
    
    @include mobile {
      padding: 10px;
    }

  }
}