.rightbar {
    flex: 3;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    .container {
        padding: 20px;

        .item {

            -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
            -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
            box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 4px;

            span {
                color: grey;
            }

            .user {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 10px 0;

                .userInfo {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    font-weight: 500;

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    p{
                        color: grey;
                    }

                    span {
                        color: #000;
                        font-weight: 500;
                    }
                }

                .buttons {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    button {
                        border: none;
                        border-radius: 2px;
                        color: white;
                        padding: 5px;
                        cursor: pointer;

                        &:first-child {
                            background-color: #367BD8;
                        }

                        &:last-child {
                            background-color: #e4514c;
                        }
                    }
                }
            }

        }
    }
}